<h4>Formularios <small>template</small></h4>
<hr />
<form novalidate #forma="ngForm" (ngSubmit)="guardar(forma)">
  <div
    class="form-group row"
    [ngClass]="{
      'has-danger':
        (nombre.errors?.required || nombre.errors?.minlength) && nombre.touched
    }"
  >
    <label class="col-2 col-form-label">Nombre</label>
    <div class="col-8">
      <input
        class="form-control"
        type="text"
        placeholder="Nombre"
        name="nombre"
        [(ngModel)]="usuario.nombre"
        minlength="5"
        required
        #nombre="ngModel"
      />

      <div *ngIf="nombre.errors?.required" class="form-control-feedback">
        Este campo es requerido
      </div>
      <div *ngIf="nombre.errors?.minlength" class="form-control-feedback">
        Requiere un mínimo de
        {{ nombre.errors.minlength.requiredLength }} caracteres
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Apellido</label>
    <div class="col-8">
      <input
        class="form-control"
        type="text"
        placeholder="Apellido"
        name="apellido"
        [(ngModel)]="usuario.apellido"
        required
        #apellido="ngModel"
      />

      <div *ngIf="apellido.errors?.required">
        Este campo es requerido
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">
      <input
        class="form-control"
        type="email"
        placeholder="Correo electrónico"
        name="email"
        [(ngModel)]="usuario.email"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        #email="ngModel"
      />

      <div *ngIf="email.errors?.required">
        Este campo es requerido
      </div>
      <div *ngIf="email.errors?.pattern">
        Email inválido
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-md-8">
      <select class="form-control" name="pais" [(ngModel)]="usuario.pais">
        <option value="">Seleccione un valor</option>
        <option *ngFor="let item of paises" [value]="item.codigo">
          {{ item.nombre }}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group row">
      <label class="col-2 col-form-label">Sexo</label>
      <div class="col-md-8">
          <label class="custom-control custom-radio" *ngFor="let s of sexos">
              <input 
                type="radio" 
                name="sexo" 
                class="custom-control-input"
                [(ngModel)]="usuario.sexo"
                [value]="s">
              <span class="custom-control-indicator" for="sexo"></span>
              <span class="custom-control-description" for="sexo">{{ s }}</span>
          </label>
      </div>
  </div>

  <div class="form-group row">
      <div class="col-md-8">
          <label class="custom-control custom-checkbox">
              <input 
                class="custom-control-input" 
                type="checkbox" 
                required
                name="acepta"
                [(ngModel)]="usuario.acepta">

              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">
                Acepta términos y condiciones
              </span>
            </label>
      </div>
  </div>
  

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button
        type="submit"
        class="btn btn-outline-primary"
        [disabled]="!forma.valid"
        >
        Guardar
      </button>
    </div>
  </div>

  <pre>
    {{ usuario | json }}
  </pre>
</form>
