<div class="container">
  <h1>Pipes</h1>
  <hr />

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{{ nombre }}</th>
        <td>uppercase</td>
        <td>{{ nombre | uppercase }}</td>
      </tr>
      <tr>
        <th>{{ nombre }}</th>
        <td>lowercase</td>
        <td>{{ nombre | lowercase }}</td>
      </tr>
      <tr>
        <th>{{ nombre }}</th>
        <td>slice:3</td>
        <td>{{ nombre | slice: 3 }}</td>
      </tr>
      <tr>
        <th>{{ nombre }}</th>
        <td>slice:0:3</td>
        <td>{{ nombre | slice: 0:3 }}</td>
      </tr>
      <tr>
        <th>{{ arreglo }}</th>
        <td>slice:1:5</td>
        <td>{{ arreglo | slice: 1:5 }}</td>
      </tr>
      <tr>
        <th>{{ PI }}</th>
        <td>number:'3.0-0'</td>
        <td>{{ PI | number:'3.0-0' }}</td>
      </tr>
      <tr>
        <th>{{ PI }}</th>
        <td>number:'1.0-2'</td>
        <td>{{ PI | number:'1.0-2' }}</td>
      </tr>
      <tr>
        <th>{{ porcentaje }}</th>
        <td>percent</td>
        <td>{{ porcentaje | percent }}</td>
      </tr>
      <tr>
        <th>{{ porcentaje }}</th>
        <td>percent:'2.2-2'</td>
        <td>{{ porcentaje | percent:'2.2-2' }}</td>
      </tr>
      <tr>
        <th>{{ salario }}</th>
        <td>currency</td>
        <td>{{ salario | currency }}</td>
      </tr>
      <tr>
        <th>{{ salario }}</th>
        <td>currency:'EUR'</td>
        <td>{{ salario | currency:'EUR' }}</td>
      </tr>
      <tr>
        <th>{{ salario }}</th>
        <td>currency:'EUR':'false'</td>
        <td>{{ salario | currency:'EUR':'false' }}</td>
      </tr>
      <tr>
        <th>{{ salario }}</th>
        <td>currency:'EUR':'false'</td>
        <td>{{ salario | currency:'EUR':'false' }}</td>
      </tr>
      <tr>
        <th>{{ salario }}</th>
        <td>currency:'EUR':'false':'4.0-0'</td>
        <td>{{ salario | currency:'EUR':'false':'4.0-0' }}</td>
      </tr>
      <tr>
        <th>{{ salario }}</th>
        <td>number:'.2-2'</td>
        <td>{{ salario | number:'.2-2' }}</td>
      </tr>
      <tr>
        <th>{{ valorDePromesa }}</th>
        <td>async</td>
        <td>{{ valorDePromesa | async }}</td>
      </tr>
      <tr>
        <th>{{ fecha }}</th>
        <td>date</td>
        <td>{{ fecha | date }}</td>
      </tr>
      <tr>
        <th>{{ fecha }}</th>
        <td>date:'d de MMMM del y'</td>
        <td>{{ fecha | date:'d MMM y' }}</td>
      </tr>
      <tr>
        <th>{{ nombreCompleto }}</th>
        <td>capitalizado</td>
        <td>{{ nombreCompleto | capitalizado }}</td>
      </tr>
      <tr>
        <th>{{ nombreCompleto }}</th>
        <td>capitalizado</td>
        <td>{{ nombreCompleto | capitalizado:false }}</td>
      </tr>
      
    </tbody>
  </table>

  <h4>Slice</h4>
  <ul>
    <li *ngFor="let item of arreglo | slice:5:20"> {{ item }} </li>
  </ul>
  <h4>JSON</h4>
  <pre>
    {{ objeto | json }} 
  </pre>

  <h4>Youtube <small>Video</small></h4>
  <iframe width="560" height="315" [src]="urlVideo | domseguro:'https://www.youtube.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <br><br>
  <h4>Contraseña</h4>
  <table class="table">
    <tr>
      <td>{{ nombre }}</td>
      <td>
        <button class="btn btn-outline-info" (click)=" ocultado = !ocultado ">
          {{ ocultado ? 'Mostrar' : 'Ocultar' }}
        </button>
      </td>
      <td>
        {{ nombre | password:ocultado }}
      </td>
    </tr>
  </table>
  <br><br><br>
</div>
