<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="bonfire"></ion-icon>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
    <!-- refresher -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <!-- Posts -->
    <app-posts [posts]="posts"></app-posts>
    <!-- infinite scroll -->
    <ion-infinite-scroll threshold="150px" (ionInfinite)="next($event)" [disabled]="disabled">
      <ion-infinite-scroll-content>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
