<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">AuthApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLinkActive="active" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active" [routerLink]="['precios']">Precios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active" [routerLink]="['protegida']" *ngIf="isAuthenticated()">Protegida</a>
      </li>
    </ul>
    <span class="navbar-text">
      <button *ngIf="!isAuthenticated()" class="btn btn-outline-light my-2 my-sm-0 btn-sm" (click)="login()" >Login</button>
      <button *ngIf="isAuthenticated()" class="btn btn-outline-light my-2 my-sm-0 btn-sm" (click)="logout()" >Logout</button>
    </span>
  </div>
</nav>