<h1 class="animated fadeIn">{{ heroe.nombre | uppercase }} <small>({{ heroe.aparicion | date: 'y' }})</small></h1>
<hr>

<div class="row animated fadeIn fast">

  <div class="col-md-4">
    <img [src]="heroe.img" alt="heroe.nombre" class="img-fluid">
    <br><br>

    <!--a class="btn btn-outline-danger btn-block" [routerLink]="['/heroes']">Regresar</a-->
    <button (click)="regresar()" class="btn btn-outline-danger btn-block">Regresar</button>
  </div>

  <div class="col-md-8">

    <h3>{{ heroe.nombre }}</h3>
    <hr>
    <p>
      {{ heroe.bio }}
    </p>

    <div>
      <img [src]=" heroe.casa == 'DC' ? 'assets/img/logo-dc.jpeg' : 'assets/img/logo-marvel.jpeg' " [alt]=" heroe.casa == 'DC' ? 'DC' : 'Marvel' ">
    </div>
  </div>

</div>