<h2>Por Región</h2>
<hr>

<div class="row">
    <div class="col text-center">
        
        <button class="btn mx-2" [ngClass]="{'btn-outline-primary': region === selectedRegion}" (click)="searchRegion(region)" *ngFor="let region of regions">{{ region }}</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <hr>
        <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
        <countries-table [countries]="countries"></countries-table>
    </div>
</div>