<h1>Dragonball Page</h1>
<hr />

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar: {{ name() }}</h3>
    <input
      type="text"
      class="form-control"
      placeholder="Name"
      [value]="name()"
      (change)="name.set(txtName.value)"
      (input)="name.set(txtName.value)"
      #txtName
    />
    <input
      type="number"
      class="form-control mt-2"
      placeholder="Power"
      [value]="power()"
      (change)="power.set(+txtPower.value)"
      (input)="power.set(+txtPower.value)"
      #txtPower
    />

    <button class="mt-2 btn btn-primary" (click)="addCharacter()">
      Agregar
    </button>
  </div>

  <div class="col-12 col-sm-6">
    <h3>Listado</h3>
    <ul>
      @for (character of characters(); track character.id; let idx = $index) {
      @if (character.power > 500) {
      <li>
        <span>{{ idx + 1 }} - {{ character.name }}</span>
        <strong
          [class.text-danger]="character.power > 9000"
          [class.text-primary]="character.power < 9000"
        >
          ({{ character.power }})</strong
        >
        <!-- <strong [ngClass]="powerClasses()"> ({{ character.power }})</strong> -->
      </li>

      } @else {
      <li>
        <strong>Poder bajo: {{ character.name }}</strong>
      </li>
      } }
    </ul>
  </div>
</section>
