@import 'tailwindcss';

@theme {
  --animate-fadeIn: fadeIn 0.9s ease-in-out;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

html,
body {
  @apply bg-slate-900 text-white;
}

button {
  @apply bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 disabled:bg-slate-600 transition-all;
}
