<ion-card color="dark">
  <ion-card-subtitle>
    <span class="text-primary">{{ i + 1 }}. </span>
    <span class="article-source-name">{{ article.source.name }}</span>

    <div class="news-more">
      <ion-button fill="clear"
                  (click)="openMenu()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </div>
    
  </ion-card-subtitle>
  <ion-card-title (click)="openNew()">{{ article.title }}</ion-card-title>

  <ion-img class="animated fadeIn fast" (click)="openNew()" [src]="article.urlToImage"></ion-img>
  <p><ion-card-content>{{ article.description }}</ion-card-content></p>
</ion-card>