<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Headlines
    </ion-title>
  </ion-toolbar>

  <ion-segment scrollable mode="md" color="primary" (ionChange)="changeCategory($event)">

    <ion-segment-button *ngFor="let category of categories" mode="md" [value]="category">
      <ion-label class="ion-text-capitalize">{{ category }}</ion-label>
    </ion-segment-button>

  </ion-segment>
</ion-header>

<ion-content color="dark">
  <app-news [articles]="news"></app-news>

  <ion-infinite-scroll threshold="25%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
