<div class="row mt-3">
    <div class="col-2">
        <side-menu></side-menu>
    </div>
    <div class="col-10">
        <h1>Standalone Component - Page</h1>
        <hr>

        <div class="row">
            <div class="col">
                <p>*Este componente no necesita ser importado en componentes.</p>
                <p>Es porque es su propio módulo.</p>
                <p>Suma de ejemplo: {{ 1 + 1 }}</p>

                <alone-count [counter]="25"></alone-count>
            </div>
        </div>
    </div>
</div>