<div class="container main-container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Buscar:</label>
        
        <input [(ngModel)]="buscar"
               name="buscar"
               (keyup.enter)="buscarPelicula()"
               type="text"
               class="form-control"
               placeholder="Buscar película">
      </div>
    </div>
  </div>

  <div class="row">
      <div class="card-columns" >
        <div class="card" *ngFor="let pelicula of moviesService.peliculas">
          <img [src]="pelicula | movieImg" class="card-img-top" [alt]="pelicula.original_title">
          <div class="card-body">
            <h5 class="card-title">{{ pelicula.original_title }}</h5>
            <p class="card-text">{{ pelicula.overview | slice:0:250 }}...</p>
            <button type="button" 
                    class="btn btn-outline-primary btn-block"
                    [routerLink]="['/movie', pelicula.id, 'search', buscar]">
              Ver más...
            </button>
          </div>
        </div>
      </div>
  </div>

</div>