<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">

        <div class="card-title">Usuarios</div>
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let usuario of usuarios" [routerLink]="['/usuarios']" class="pointer">
              <td><img (click)="cambiarImagen( usuario._id )" [src]="usuario.img | imagen" class="img-50 img-circle pointer"></td>
              <td>{{ usuario.nombre }}</td>
            </tr>
            <tr *ngIf="usuarios.length === 0"><td>Sin resultados</td></tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">

        <div class="card-title">Hospitales</div>
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let hospital of hospitales" [routerLink]="['/hospitales']">
              <td><img (click)="cambiarImagen( hospital._id )" [src]="hospital.img | imagen:'hospital'" class="img-50 img-circle pointer"></td>
              <td>{{ hospital.nombre }}</td>
              
            </tr>
            <tr *ngIf="hospitales.length === 0"><td>Sin resultados</td></tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">

        <div class="card-title">Médicos</div>
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let medico of medicos" [routerLink]="['/medico', medico._id]">
              <td><img (click)="cambiarImagen( medico._id )" [src]="medico.img | imagen:'medico'" class="img-50 img-circle pointer"></td>
              <td>{{ medico.nombre }}</td>
              
            </tr>
            <tr *ngIf="medicos.length === 0"><td>Sin resultados</td></tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>