
<div class="container main-container">
  <h1>Canal de YouTube</h1>
  <hr>
  
  <div class="card-columns" *ngIf="videos.length > 0">
    <div class="card animated fadeIn fast" *ngFor="let video of videos">
      <img [src]="video.thumbnails.high.url" class="card-img-top img-fluid" [alt]="video.title">
      <div class="card-body">
        <h5 class="card-title">{{ video.title }}</h5>
        <button class="btn btn-outline-primary btn-block" (click)="verVideo(video)">Ver video</button>
      </div>
    </div>
  </div>
  <button (click)="verMas()" type="button" class="btn btn-outline-primary btn-block">Ver más videos</button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="videoSel">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ videoSel.title }}</h5>
      </div>
      <div class="modal-body">
        <iframe width="100%" height="300" [src]="videoSel.resourceId.videoId | videoSeguro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrar()">Cerrar</button>
      </div>
    </div>
  </div>
</div>